body{
    line-height: 1;
    font-weight: normal;
    background: #fff;
    margin: 0px;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
 
/* box-sizing: borderbox; */
.bg {
    /* border: 2px solid red; */
    margin: auto;
    width: 831px;
    height: 552px;
    min-height: 110px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    background-image: url(../images/Layer7.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* border: 2px solid red; */
  }
  .wrapper {
      /* border: 1px solid green; */
      width: 100%;
      height: 185px;
      margin: auto;
  }
  .logo {
    width: 283px;
    height: 185px;
    /* border: 2px solid red; */
    margin-left: 31.5%;
    float: left;

    background: url(../images/logo.svg) no-repeat top left;
    background-size: cover;
  }
  .ml {
      width: 194px;
      height: 26px;
      /* border: 1px solid red; */
      display: inline-block;
      padding-top: 35px;
      padding-left: 10px;
      
      font-size: 25px;
      color: #137dc2;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      text-align: left;
  }
  .bgtext {
      width: 831px;
      height: 100px;
      /* border: 1px solid red; */
      position: absolute;
      top: 260px;

      font-size: 40px;
      color: #ffffff;
      font-family: "Roboto";
      font-weight: 500;
      text-align: center;
      line-height: 1.2;
  }
  .tel {
    width: 831px;
      height: 100px;
      /* border: 1px solid red; */
      position: absolute;
      top: 400px;

      font-size: 40px;
      letter-spacing: -0.5px;
      color: #137dc2;
      font-family: "Roboto";
      font-weight: 900;
      text-align: center;
  }
  
  a {
      text-decoration: none;
      color: #137dc2;
  }
  p span {
      font-size: 22px;
      vertical-align: 9px;     
 }

 .contact {
     width: 831px;
     min-height: 1747px;
     /* border: 1px solid green; */
     margin: auto;
     background-color: #fff;
     box-shadow: 0 0 10px rgba(0,0,0,0.1);
 }
 .city {
    font-size: 50px;
    letter-spacing: 2px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 900;
    padding-top: 100px;
    padding-left: 70px;
 }
 .city span {
     padding-left: 325px;
     font-size: 40px;
 }
 .name {
    font-size: 31px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 700;
    padding-left: 70px;
    padding-top: 70px;
 }
 .adress {
    font-size: 29px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 400;
    padding-left: 70px;
    padding-top: 10px;
 }
 .map {
    font-size: 20px;
    color: #2676a4;
    font-family: "Roboto";
    font-weight: 700;
    padding-left: 70px;
    padding-top: 15px;
 }
 .phn {
    font-size: 29px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 700;
    padding-left: 70px;
    padding-top: 70px;
 }
 .mail {
    font-size: 25px;
    color: #2676a4;
    font-family: "Roboto";
    font-weight: 400;
    padding-left: 70px;
    padding-top: 15px;
 }
 .feedback {
    font-size: 50px;
    letter-spacing: 2px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 900;
    padding-left: 70px;
    padding-top: 100px;
 }




 
 .valform {
     /* border: 1px solid red; */
     margin: 70px;
 }
 #form {
    max-width: 100%;
    padding: 0;
    box-sizing: border-box;
  }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
  
  .form-field {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 1rem 0;
  }
  select, input {
    width: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 1.1rem;
  }
  
  select, input {
    border: 2px solid #ebebeb;
    border-radius: 2px;
    background-color: #ebebeb;

    font-size: 40px;
    color: #676767;
    font-family: "Roboto";
    font-weight: 300;
  }
  .error-message {
      flex: 0 0 100%;
      color: red;
      font-size: 30px;
  }
  
.btnsend input {
    background-color: #137dc2;
    font-size: 29px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 700;
    text-align: center;
    padding: 1.5rem;
    border: 2px solid #137dc2;
}
.btnfull {
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 2px;
    background-color: #fff;
    font-size: 29px;
    letter-spacing: 1px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 700;
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
}
.btnfull a {
    color: #000000;
}
.arrow {
    width: 0rem;
    height: 0rem;
    z-index: 2;
    position: absolute;
}
.arrow span {
    padding-left: 552px;
    padding-top: 30px;
    font-size: 40px;
}
.form-field_message input {
    padding-bottom: 300px;
}